#edit_form {
    background: repeat-x scroll left top #EEEEEE;
    border-radius: 6px;
    display: none;
    height: 300px;
    left: 25%;
    padding: 20px 20px;
    position: fixed;
    top: 25%;
    width: 600px;
    z-index: 10200;
}